APP_ENV=local

PGHOST=localhost
PGPORT=5432
PGDATABASE=transit_local
PGUSER=postgres
PGPASSWORD=changeme

TRANSIT_API_PORT=4000
VITE_TRANSIT_API_BASE_URL=http://localhost:4000/api

POLL_INTERVAL_SECONDS=30
POLL_ENABLED=true
POLL_START_HOUR=8
POLL_END_HOUR=21
POLL_TIMEZONE=America/Edmonton
ADMIN_KILL_SWITCH=false
RAW_RETENTION_MINUTES=15
